@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0.5%;
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: row;
  width: 10%;
}
.navigation nav a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
.navigation nav a:hover {
  color: grey;
}
@media (max-width: 500px) {
  .navigation nav {
    width: 80%;
    font-size: 1.6;
    padding: 2%;
  }
}
@media (max-width: 500px) {
  .navigation {
    padding: 1.5%;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tabs .title {
  font-size: 4.5rem;
  color: grey;
}
.tabs .roles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.tabs .roles .tab {
  color: white;
  background-color: #27ae5f;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .roles .tab:hover {
  text-decoration: underline;
}
.tabs .roles .active-tab {
  background-color: black;
}
.information {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2%;
}
.information .person {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #27ae5f;
  color: white;
  width: 15%;
  padding: 24px;
  margin-bottom: 16px;
}
.information .person .bio {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}
.information .person .bio .personalImg {
  padding: 10px;
}
.information .person .bio .personalImg .bioPic {
  width: 60%;
  height: 50%;
}
.information .person .bio span {
  padding-left: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
