@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 0.5%;
}
.navigation nav {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  font-size: 1.8rem;
  width: 50%;
  padding: 1%;
}
.navigation nav a {
  text-decoration: none;
  color: black;
}
.navigation nav a:hover {
  color: grey;
}
@media (max-width: 500px) {
  .navigation nav {
    width: 80%;
    font-size: 1.6;
    padding: 2%;
  }
}
@media (max-width: 500px) {
  .navigation {
    padding: 1.5%;
  }
}
.top-section {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.top-section .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 50%;
}
@media (max-width: 500px) {
  .top-section .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: none;
  }
}
.top-section .buttons .button1 {
  margin-right: 25%;
  width: 100%;
  padding: 40%;
  border-radius: 10%;
  text-align: left;
  border: 5px, solid, red;
}
.top-section .buttons .button1:hover {
  background-color: #27ae5f;
  color: white;
}
.top-section .buttons .button2 {
  margin-left: 25%;
  width: 100%;
  padding: 40%;
  border-radius: 10%;
  background-color: #27ae5f;
  color: white;
}
.top-section .buttons .button2:hover {
  background-color: white;
  color: black;
}
.top-section img {
  width: 100%;
  padding: 5%;
}
.second-section {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #27ae5f;
  color: white;
}
.second-section img {
  width: 20%;
  fill: white;
}
.second-section .first-row {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
}
.second-section .first-row .Data {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.second-section .first-row .Clean {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.second-section .second-row {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
}
.second-section .second-row .Result {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.second-section .second-row .Map {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.third-section {
  width: 50%;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}
