@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}
.navigation {
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #3ecc79;
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  width: 10%;
}
.navigation nav .navA {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  white-space: nowrap;
  margin: 5%;
}
.navigation nav .navA:hover {
  color: black;
}
.navigation nav .button1 {
  text-decoration: none;
  color: black;
  margin: 5%;
  width: 60%;
  height: 5%;
  font-size: 2rem;
  padding: 5%;
  border-radius: 10%;
  text-align: center;
  border: 1px solid white;
  white-space: nowrap;
  background-color: white;
}
.navigation nav .button1:hover {
  background-color: #3ecc79;
  color: white;
}
.navigation nav .button2 {
  text-decoration: none;
  margin: 5%;
  width: 60%;
  height: 5%;
  font-size: 2rem;
  padding: 5%;
  border-radius: 10%;
  text-align: center;
  white-space: nowrap;
  border: 1px solid white;
  background-color: #3ecc79;
  color: white;
}
.navigation nav .button2:hover {
  background-color: white;
  color: black;
}
@media (max-width: 500px) {
  .navigation nav {
    width: 80%;
    font-size: 1.6;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.top-section {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.top-section h1 {
  font-size: 4rem;
}
.top-section .first-paragraph {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}
.top-section .first-paragraph .top-one {
  width: 100%;
}
.top-section img {
  width: 50%;
  padding: 5%;
}
@media (max-width: 500px) {
  .top-section img {
    width: 100%;
  }
}
.second-section {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #3ecc79;
  color: white;
  padding-bottom: 2%;
  font-size: 4rem;
}
.second-section img {
  width: 20%;
  background-color: white;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .second-section img {
    width: 60%;
  }
}
.second-section .first-row {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
}
.second-section .first-row .Data {
  font-size: 3rem;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.second-section .first-row .Clean {
  font-size: 3rem;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .second-section .first-row {
    padding: 5%;
  }
}
.second-section .second-row {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
}
.second-section .second-row .Result {
  font-size: 3rem;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.second-section .second-row .Map {
  font-size: 3rem;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .second-section .second-row {
    padding: 5%;
  }
}
.third-section-title {
  font-size: 4rem;
}
@media (max-width: 500px) {
  .third-section-title {
    font-size: 3rem;
  }
}
.quote {
  font-size: 3rem;
  background-color: #3ecc79;
  color: white;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.last-Section {
  font-size: 3rem;
  padding: 5%;
}
.third-section {
  width: 75%;
  display: flex;
  justify-content: baseline;
  align-items: none;
  flex-direction: row;
}
.third-section img {
  width: 50%;
  height: 50%;
  padding: 5%;
}
@media (max-width: 500px) {
  .third-section img {
    display: none;
  }
}
.QandA {
  font-size: 4rem;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}
.question {
  border: 1px solid #3ecc79;
  margin: 20px 0;
  padding: 0 20px 25px;
  border-radius: 10px;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px #3ecc79;
  position: relative;
}
.question .close {
  position: absolute;
  top: 10px;
  bottom: 10px;
}
.question .open {
  position: absolute;
  bottom: 0;
  margin-left: 70%;
  cursor: pointer;
  width: 40%;
  height: 1%;
  font-size: 1.5rem;
  padding: 5%;
  border-radius: 2%;
  text-align: center;
  border: 1px solid #3ecc79;
  background-color: #3ecc79;
  color: white;
}
@media (max-width: 500px) {
  .question .open {
    margin-bottom: 2%;
    width: 30%;
  }
}
@media (max-width: 500px) {
  .question {
    font-size: 1.6;
    width: 120%;
  }
}
.question-open {
  height: 200px;
}
