.top-section{
    width: 50%;
    .flex(flex-start, flex-start, column);

    .buttons{
        .flex(space-between, center, row);
        padding-left: 50%;

        @media @phone{
            .flex(space-evenly, center, column);
            padding: none;
        }
        .button1{
            margin-right: 25%;
            width: 100%;
            padding: 40%;
            border-radius: 10%;
            text-align: left;
            border: 5px, solid, red;
            &:hover{
                background-color: @backgroundColor;
                color: @textColor;
            }
        }

        .button2{
            margin-left: 25%;
            width: 100%;
            padding: 40%;
            border-radius: 10%;
            background-color: @backgroundColor;
            color: @textColor;
            &:hover{
                background-color: white;
                color: black;
            }
        }
    }
    img{
        width: 100%;
        padding: 5%;
    }

}
.second-section{
    width: 100%;
    .flex(none, center, column);
    background-color: @backgroundColor;
    color: @textColor;

    img{
        width: 20%;
        fill: white;
    }
    .first-row{
        .flex(space-evenly, none, row);
        .Data{
            width: 45%;
            .flex(flex-start, center, column);
        }
        .Clean{
            width: 45%;
            .flex(flex-start, center, column);
        }

    }

    .second-row{
        .flex(space-evenly, none, row);
        .Result{
            width: 45%;
            .flex(flex-start, center, column);
        }
        .Map{
            width: 45%;
            .flex(flex-start, center, column);
        }
    }
}

.third-section{
    width: 50%;
    .flex(none, center, column);
}