// Nagivation Bar
.navigation{
    width: 100%;
    .flex(space-around, center, row);
    padding: .5%;

    nav{
        .flex(space-between, none, row);
        width: 10%;

        a{
            text-decoration: none;
            color:black;
            &:hover{
                color: grey;
            }
            font-size: 1.6rem;
        }

        @media @phone{
            width:80%;
            font-size: 1.6;
            padding: 2%;
        }

    }
    @media @phone{
        padding:1.5%;
    }

}