// Nagivation Bar
.navigation{
    width: 100%;
    .flex(space-around, center, row);
    padding: .5%;
    background-color: @backgroundColor;
    

    nav{
        .flex(space-between, none, row);
        width: 10%;

        a{
            text-decoration: none;
            color: @textColor;
            &:hover{
                color: black;
            }
            font-size: 2.0rem;
        }

        @media @phone{
            width:80%;
            font-size: 1.6;
            padding: 2%;
        }

    }
    @media @phone{
        padding:1.5%;
    }

}