.main-nav {
    width: 100%;
    background-color: @lightblue;
    position: fixed;
    text-align: center;
    @media @phone {
        width: 500px;
    }
   
    .nav-container {
      height: 100%;
      display: flex;
      align-items: left;
      justify-content: space-between;
      z-index: 100;
      flex-direction: row;
      padding-bottom: 10px;
      padding-top: 10px;
      @media @tablet {
        flex-direction: column;
    }
      @media @phone {
          flex-direction: column;
      }
    }

    
        h1{
        margin-top: 9px;
        font-size: 3.5rem;
        color: @gray;
        text-decoration: none;
        margin-left: 15%;
        }
        a {
            font-size: 2rem;
            color: @gray;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
                
        }


    nav {
        
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        @media @tablet {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        @media @phone {
            width: 100%;
           
        }

        a {
            margin-top: 12px;
            &:hover {
                text-decoration: underline;
            }
                
            }
        }
        
  button{
    .button-creator(100px, 40px, @btn-bg-color, @btn-font-color, 1.2rem);
  }
    
}

