// color vars
@lightblue: 	#87CEFA;
@gray: #6e8298;
@white: white;

//btn
@btn-bg-color: #6e8298;
@btn-font-color: #d1fff5;


// media queries
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 900px)";