//Backgorund Color
@backgroundColor: @lightblue;

//font sizes

@mediumFont: 3rem;
@bigFont: 4rem;
@smallFont: 2rem;

//Color
@lightblue:  #87CEFA;
@textColor: #6e8298;

//Mobile Width
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 1200px)";