//Backgorund Color
@backgroundColor: @green;

//font sizes

@mediumFont: 3rem;
@bigFont: 4rem;
@smallFont: 2rem;

//Color
@lightblue:  #87CEFA;
@grey: #6e8298;

//Mobile Width
@phone: ~"(max-width: 500px)";